* {	padding: 0; margin: 0; vertical-align: top;} 
body {
	background: url(background.png) repeat-x;
    font: 18px/1.5em "Open Sans", Helvetica, Arial, sans-serif;
}

a {	color: #069; }
a:hover { color: #28b; }

h2 {
	margin-top: 15px;
	font: normal 32px "Open Sans", Helvetica, Arial, sans-serif;
}

h3 {
	margin-left: 30px;
	font: normal 26px "Open Sans", Helvetica, Arial, sans-serif;
	color: #666;
}

p {
	margin-top: 10px;
}

button {
	font-size: 18px;
	padding: 1px 7px;
}

input {
	font-size: 18px;
}

input[type=checkbox] {
	margin: 7px;
}

#header {
	position: relative;
	width: 900px;
	margin: auto;
}

#header h2 {
	margin-left: 10px;
	vertical-align: middle;
	font-size: 42px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

#content {
	width: 880px;
	margin: 0 auto;
	padding: 10px;
}

#footer {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
	color: #999;
}

.demo-container {
	box-sizing: border-box;
	width: 850px;
	height: 450px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legend table {
	border-spacing: 5px;
}

.demo-container {
    position: relative;
    height: 450px;
}

#placeholder {
    display: inline-block;
    width: 450px;
}

#menu {
    display: inline-block;
    width: 360px;
}

#label {
    font-size:8pt;
    text-align:center;
    padding:8px;
    color:white;
    max-width: 100px;
}

#popup {
    font-weight: bold;
}

#menu button {
    display: inline-block;
    width: 200px;
    padding: 3px 0 2px 0;
    margin-bottom: 4px;
    background: #eee;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 16px;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    cursor: pointer;
}

#description {
    margin: 15px 10px 20px 10px;
}

#code {
    display: block;
    width: 870px;
    padding: 15px;
    margin: 10px auto;
    border: 1px dashed #999;
    background-color: #f8f8f8;
    font-size: 16px;
    line-height: 20px;
    color: #666;
}

ul {
    font-size: 10pt;
}

ul li {
    margin-bottom: 0.5em;
}

ul.options li {
    list-style: none;
    margin-bottom: 1em;
}

ul li i {
    color: #999;
}

span.orgCheckboxLabel {
    padding-right: 20px;
}

#amount {
    width: 150px;
}

p#toMissions {
    font-size: 75%;
}

span#toMissionsAmount {
    color: rgb(79,129,189);
    font-weight: bold;
}

.checkboxes {
    font-size: 70%;
    font-weight: bold;
}

div#hover {
    margin: 10px;
    padding: 5px;
    border-top: 1px #999 solid;
    font-size: 70%;
}
